:root{
    ---bg-color: #FAF7FD;
    --main-color: #BB99DD;
    font-size: 62.5%;
}

/* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Poppins Weight Light 300 Semibold 600 */
body{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 1.6rem;

    color: var(--main-color);
    background-color: var(---bg-color);
}

/* Centro da tela*/
.container{
    width: 100vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    gap: 1.5rem;
    margin-bottom: 3.3rem;
}

.image{
    display: flex;
    border: solid 2px var(--main-color);
    border-radius: 50%;
}

.image img{
    height: 20rem;
    border-radius: 50%;
    border: solid 0px var(---bg-color);
    margin: 0.5rem;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    margin-bottom: 6.8rem;
}

.link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32.6rem;
    height: 4.9rem;
    border: solid 2px var(--main-color);
    border-radius: 0.4rem;
    padding: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--main-color);
    text-decoration: none;
}

.icons{
    display: flex;
    gap: 2.9rem;
}