:root{
    --body-bg-color: #FAF7FD;
    --purple: #BB99DD;
    font-size: 62.5%; /*1rem = 10px*/
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins';
    font-style: normal;
    font-size: 1.6rem; /*16px*/

    /*Desabilitou o pequeno scroll que ficou*/
    position: fixed;
}

.container{
    /*Centraliza no meio da página*/
    width: 100vw;
    height: 100vh;
    background-color: var(--body-bg-color);
}

.container, .link, .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile img{
    width: 20rem;
    border-radius: 50%;
}

.profile{
    width: 21rem;
    height: 21rem;
    border: 2px solid var(--purple);
    border-radius: 50%;
}

.username{
    font-weight: 300;
    color: var(--purple);
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

.link{
    padding: 1rem;
    margin: 0.9rem;
    border: 2px solid var(--purple);
    width: 30rem;
    border-radius: 0.4rem;
    text-transform: uppercase;
}

.links a{
    color: var(--purple);
    font-weight: 600;
    text-decoration: none;
}

.links{
    margin-bottom: 5rem;
}

.icon{
    padding: 1.3rem;
}
