:root {
  ---bg-color: #faf7fd;
  --main-color: #bb99dd;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-style: normal;
  color: var(--main-color);
  font-family: "Poppins", sans-serif;
  background-color: var(---bg-color);
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3.3rem;
  font-weight: 300;
  gap: 1.5rem;
}

.image {
  display: flex;
  border-radius: 50%;
  border: solid 2px var(--main-color);
}

.image img {
  height: 20rem;
  margin: 0.5rem;
  border-radius: 50%;
  border: solid 0px var(---bg-color);
}

.links {
  display: flex;
  flex-direction: column;
  margin-bottom: 6.8rem;
  gap: 1.6rem;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  border: solid 2px var(--main-color);
  color: var(--main-color);
  text-decoration: none;
  border-radius: 0.4rem;
  font-weight: 600;
  padding: 1.2rem;
  height: 4.9rem;
  width: 32.6rem;
}

.icons {
  display: flex;
  gap: 2.9rem;
}
